# Ignore all vs, bin and obj folders in any subdirectory
**/bin/
**/obj/
**/.vs/

# Ignore everything in API/Logs But keep the folder itself
API/Logs/*
!API/Logs/.gitkeep

# General
*.user
*.suo
*.cache
*.log
.DS_Store